<!DOCTYPE html>
<html>
<head>
    <title>Sup2Colis tracking</title>
</head>
<body>
    <h1>Tracker votre colis</h1>
    <form method="post">
        {% csrf_token %}
        <label for="idColis">Id Tracking</label>
        <input type="text" name="idColis" required>
        <button type="submit">Submit</button>
    </form>
    <div>
        <p>Destination : {{moncolis.destination}}</p>
        <p>Date d'ajout du colis : {{moncolis.date}}</p>
        <p>Poids : {{moncolis.poids}} kg</p>
        <p>Reference colis : {{moncolis.reference}}</p>
    </div>
</body>
</html>


