<!DOCTYPE html>
<html>
<head>
    <title>Retrieve all packages Sup2Colis</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <h1>Liste des colis</h1>
    {% for colis in mescolis %}
        <div class="alert alert-primary">{{colis.reference}}</div>
    {% endfor %}
</body>
</html>